body {
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  // background-color: #000;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  #app {
    width: 900px;
    height: 600px;
    position: relative;
    // background-color: #333;
    background-color: #000;
    background-image: url("./static//images//cover/cover.png");
    background-position: center;
    background-size: cover;
    cursor: pointer;
    box-sizing: content-box;
    // border: solid 10px #000;
    canvas {
      position: absolute;
    }
  }
}
